html {
  scroll-behavior: smooth;
  padding: 0;
}

/* -------------------------------------- */
/* -------- CSS GLOBAL VARIABLES ---------*/
/* -------------------------------------- */
body {
  background: #af7927 url("./assets/main-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  opacity: 1;
  transition: 1s opacity;
}
body.fade-out {
  opacity: 0;
  transition: none;
}

:root {
  --main-charcoal: #333a3b;
  --main-tan: #665745;
  --main-pink: #b29189;
  --main-gold: #af7927;
  --main-brown: #663204;
  --main-teal: rgba(2, 66, 69, 0.7);
  --main-font: "Roboto", sans-serif;
  --main-blue: rgba(0, 71, 207, 0.5);
  --main-yellow: rgba(233, 172, 23, 0.7);
  --nav-hover: var(--main-tan);
  --nav-background: var(--main-charcoal);
  --nav-active-tab: var(--main-gold);
}

/* CUSTOM SCROLL */
::-webkit-scrollbar {
  width: 1rem;
  background: var(--main-gold);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: var(--main-charcoal);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: var(--main-gold);
}

body,
main {
  font-family: var(--main-font);
  margin: 0;

  min-width: 350px;
}
hr {
  opacity: 0;
}
h1 {
  margin: 0;
  font-size: 1.8rem;
  color: white;
}
h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: white;
}

footer i {
  font-size: 3rem;
}
h1,
h2,
h3 {
  text-align: center;
}

/* -------------------------------------- */
/* -------------- NAVBAR -----------------*/
/* -------------------------------------- */

nav {
  background-color: var(--nav-background);
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  transition: 0.3s;
}

nav div {
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: white;
  align-self: center;
  padding: 0 1rem;
}
nav div:hover {
  background-color: var(--nav-hover);
}
.nav-box {
  transition: 0.3s;
}

@media (min-width: 600px) {
  #main-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 1;
    top: 0;
  }
  #projects,
  #footer {
    padding-top: 3rem;
  }
}

/* -------------------------------------- */
/* -------------- LANDING ----------------*/
/* -------------------------------------- */

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome-section header {
  background: rgba(51, 58, 59, 0.6);
  padding: 2rem;
  z-index: -1;
}
/* -------------------------------------- */
/* ------------- ABOUT CUBE --------------*/
/* -------------------------------------- */

:root {
  --cube-width: 70vw;
  --cube-translate-z: calc(var(--cube-width) * -0.25);
  --cube-translate-y: calc(var(--cube-width) * 0.5);
}

#about-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.extra-text {
  visibility: hidden;
}
@media (min-width: 600px) {
  :root {
    --cube-width: 50vw;
  }

  #about-section {
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  :root {
    --cube-width: 400px;
  }
}
/* CUBE FONTS */
.cube__face {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#about-section h3 {
  font-size: calc(var(--cube-width) / 400 * 1rem);
  text-align: left;
  padding: 0;
  margin: 0;
}
#about-section p,
#about-section li {
  font-size: calc(var(--cube-width) / 400 * 0.8rem);
  padding: 0;
  margin: 0;
}

/* CUBE RADIO BUTTONS */

.radio-group {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about-section label {
  color: white;
  background: var(--main-teal);
  width: 100%;

  transition: 0.5s;

  display: flex;

  justify-content: center;

  align-items: center;
  /*  Make label text unselectable  */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@media (min-width: 600px) {
  .radio-group {
    width: initial;
    flex-direction: column;
    align-items: center;
    height: 40vh;
  }
  #about-section label {
    height: 100%;
    width: 10rem;
  }
}

#about-section label i {
  margin-right: 0.5rem;
}
#about-section label:hover {
  background: var(--main-blue);
}

input[type="radio"] {
  display: none;
}
#about-section input[type="radio"]:checked + label {
  color: black;
  background: var(--main-yellow);
}

/* CUBE LOGIC */

.cube__face {
  box-sizing: border-box;
}

.scene {
  width: var(--cube-width);
  height: var(--cube-width);
  border: none;
  margin: 4rem;
  perspective: calc(var(--cube-width) / 0.8);
}

.cube {
  width: var(--cube-width);
  height: var(--cube-width);
  position: relative;
  transform-style: preserve-3d;
  transform: calc(var(--cube-width) * -0.25);
  transition: transform 1s;
}

.cube.show-front {
  transform: translateZ(var(--cube-translate-z)) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(var(--cube-translate-z)) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(var(--cube-translate-z)) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(var(--cube-translate-z)) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(var(--cube-translate-z)) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(var(--cube-translate-z)) rotateX(90deg);
}

.cube__face {
  position: absolute;
  width: calc(var(--cube-width));
  height: calc(var(--cube-width));

  color: white;
  padding: calc(var(--cube-width) * 0.05);
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.cube__face--front {
  background: var(--main-teal);
}
.cube__face--top {
  background: var(--main-teal);
}
.cube__face--back {
  background: var(--main-teal);
}

.cube__face--right {
  background: var(--main-yellow);
}

.cube__face--left {
  background: var(--main-yellow);
}

.cube__face--bottom {
  background: var(--main-blue);
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(var(--cube-translate-y));
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(var(--cube-translate-y));
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(var(--cube-translate-y));
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(var(--cube-translate-y));
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(var(--cube-translate-y));
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(var(--cube-translate-y));
}

/* -------------------------------------- */
/* -------------- PROJECTS ---------------*/
/* -------------------------------------- */

#projects {
  background: var(--main-charcoal);
  z-index: -2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  #projects {
    padding: 3rem 2rem;
    grid-gap: 3rem;

    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    grid-template-areas: "header header";
  }
  .grid-header {
    grid-area: header;
  }
  .project-tile h3 {
    padding: 0.8rem 0;
  }
}
@media (min-width: 1400px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    grid-template-areas: "header header header";
  }
  .grid-header {
    grid-area: header;
  }
}

/* ------------- TILES -------------- */
.project-tile {
  background: rgb(230, 178, 8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.5rem;
  z-index: 0;
}
.project-tile h3 {
  margin: 0.5rem;
}
.img-container {
  position: relative;
}
.tile-caption {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  transition: opacity 1s ease;
}

a:hover + .img-txt,
.img-txt:hover {
  opacity: 1;
}

.img-txt {
  position: absolute;
  top: 30%;
  padding: 1rem;
  left: 30%;
  align-self: auto;
  background: rgba(51, 58, 59, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}
.project-tile:hover {
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.2);
}
.btn {
  font: var(--main-font);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  transition: all 0.3s;

  align-self: center;
  color: white;
  border-radius: 1rem;
  width: 8rem;
  margin: 0 0 1rem 0;
}
.expand-btn {
  background-color: var(--main-charcoal);
}
.btn:focus {
  outline: none;
}
.btn:hover {
  width: 9rem;

  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.2);
}

/* ------------- POPUP -------------- */
.tile-description {
  transition: all 0.5s ease;
  margin: 0;
  padding: 0 1rem 0 1rem;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
}

/* -------------------------------------- */
/* -------------- FOOTER -----------------*/
/* -------------------------------------- */
footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  background: rgba(51, 58, 59, 0.8);
  padding: 1rem;
}

footer h2 {
  color: white;
}
footer h3 {
  font-size: 1.2rem;
  margin: 0 1rem;
  align-self: center;
}
footer ul {
  list-style: none;
}

footer ul,
footer form {
  border: var(--main-pink) solid;
  border-width: 3px;
  padding-left: 0;
  margin: 0;
}
footer a {
  color: white;
  text-decoration: none;
}
footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer form p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
footer li {
  padding: 0.4rem;
}
footer li:hover {
  background: var(--main-tan);
}
footer i {
  width: 20%;
  text-align: center;
}
footer a {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#name,
#email,
#message {
  width: 300px;
}
#message {
  height: 100px;
}
footer button {
  background-color: var(--main-yellow);
}
