html {
  scroll-behavior: smooth;
  padding: 0;
}
/* Background fade in */

/* -------------------------------------- */
/* -------- CSS GLOBAL VARIABLES ---------*/
/* -------------------------------------- */
body {
  background: #af7927 url("https://source.unsplash.com/t922kt5UsU4/800x600") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  opacity: 1;
  transition: 1s opacity;
}
body.fade-out {
  opacity: 0;
  transition: none;
}

:root {
  --main-charcoal: #333a3b;
  --main-tan: #665745;
  --main-pink: #b29189;
  --main-gold: #af7927;
  --main-brown: #663204;
  --main-font: "Roboto", sans-serif;
  --nav-hover: var(--main-gold);
  --nav-background: var(--main-charcoal);
  --nav-active-tab: var(--nav-hover);
}
body,
main {
  font-family: var(--main-font);
  margin: 0;

  min-width: 350px;
}
hr {
  opacity: 0;
}
h1 {
  margin: 0;
  font-size: 1.8rem;
  color: white;
}
h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: white;
}

footer i {
  font-size: 3rem;
}
h1,
h2,
h3 {
  text-align: center;
}

/* -------------------------------------- */
/* -------------- NAVBAR -----------------*/
/* -------------------------------------- */

nav {
  background-color: var(--nav-background);
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  transition: 0.3s;
}

nav div {
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: white;
  align-self: center;
  padding: 0 1rem;
}
nav div:hover {
  background-color: var(--nav-hover);
}
.nav-box {
  transition: 0.3s;
}

@media (min-width: 600px) {
  #main-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 1;
    top: 0;
  }
  #projects,
  #footer {
    padding-top: 3rem;
  }
}

/* -------------------------------------- */
/* -------------- LANDING ----------------*/
/* -------------------------------------- */

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome-section header {
  background: rgba(51, 58, 59, 0.6);
  padding: 2rem;
  z-index: -1;
}

/* -------------------------------------- */
/* -------------- PROJECTS ---------------*/
/* -------------------------------------- */

#projects {
  background: var(--main-charcoal);
  z-index: -2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  #projects {
    padding: 3rem 2rem;
    grid-gap: 3rem;

    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: "header header";
  }
  .grid-header {
    grid-area: header;
  }
  .project-tile h3 {
    padding: 0.8rem 0;
  }
}
@media (min-width: 1400px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-template-areas: "header header header";
  }
  .grid-header {
    grid-area: header;
  }
}

/* ------------- TILES -------------- */
.project-tile {
  background: rgb(230, 178, 8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.5rem;
  z-index: 0;
}
.project-tile h3 {
  margin: 0.5rem;
}
.img-container {
  position: relative;
}
.tile-caption {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  transition: opacity 1s ease;
}

a:hover + .img-txt,
.img-txt:hover {
  opacity: 1;
}

.img-txt {
  position: absolute;
  top: 30%;
  padding: 1rem;
  left: 30%;
  align-self: auto;
  background: rgba(51, 58, 59, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}
.project-tile:hover {
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.2);
}
.btn {
  font: var(--main-font);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  transition: all 0.3s;
}

.btn:focus {
  outline: none;
}
.expand-btn:hover {
  width: 9rem;

  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.2);
}
.expand-btn {
  align-self: center;
  background-color: var(--main-charcoal);
  color: white;
  border-radius: 1rem;

  width: 8rem;

  margin: 0 0 1rem 0;
}

/* ------------- POPUP -------------- */
.tile-description {
  transition: all 0.5s ease;
  margin: 0;
  padding: 0 1rem 0 1rem;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
}

/* -------------------------------------- */
/* -------------- FOOTER -----------------*/
/* -------------------------------------- */
footer {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}
footer section {
  background: rgba(51, 58, 59, 0.8);
  margin-top: 10%;
  padding: 1rem;
}
footer h2 {
  color: var(--main-pink);
}
footer h3 {
  font-size: 1.2rem;
  margin: 0 1rem;
  align-self: center;
}
footer ul {
  list-style: none;
  border: var(--main-pink) solid;
  border-width: 3px;
  padding-left: 0;
  margin: 0;
}
footer a {
  color: var(--main-pink);
  text-decoration: none;
}

footer li {
  padding: 0.4rem;
}
footer li:hover {
  background: var(--main-tan);
}
footer i {
  width: 20%;
  text-align: center;
}
footer a {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
